#contact {/*bloc contact*/
	background-color: #ECFFBD;
	color: black;
}

p{
font-family: 'Raleway', sans-serif !important;
font-weight: 500;
font-size: 15px;
margin-top:25px;
margin-left: -7px;
}

h1{
	color:#159148;
}