

	/* DEBUT CSS GALLERIE POUR ONE PAGE */

	.btn-top-video {
        margin-top:35px;
        margin-bottom: 35px;
        border-radius:1000px;
        background:#159148;
        border:2px solid #159148;
        color:white;
        letter-spacing:2px;
        text-transform:uppercase;
        font-size:12px;
        font-family:"Roboto", sans-serif;
        padding:10px 15px;
        font-weight:500;
    }
        .btn-top-video:hover {
            color:white;
            background:#159148;
            border:2px solid #159148;

        }



.video{

    text-align: center;

}

/* FIN CSS GALLERIE POUR ONE PAGE */

/* DEBUT CSS GALLERIE POUR PAGE GALLERIE */


#video {
	width:400px;
	height:200px;
	margin: 15px;

}

#galerie {
	margin-top: 100px;
}
/* FIN CSS GALLERIE POUR PAGE GALLERIE */
