input[type=text]:focus {
  outline:none;
}

#searchContainer {
  padding:15px;
  background: #159148;
}
#searchContainer #startSearchButton {
  padding: 11px;
  vertical-align: middle;
  display:inline-block;
  background:#07522b;
  color:white;
  text-transform: uppercase;
  font-weight: bold;
}
  #searchContainer #startSearchButton img {
    width:22px;
    height:22px;
  }
.interviewContainer {
  border:2px solid #159148;
  padding-right:0px !important;
  padding-left:0px !important;
}
  .interviewContainer h1 {
    text-align: inherit !important;
    font-size: 30px;
    text-transform: inherit;
    font-weight: 400;
    letter-spacing: inherit;
  }
  .interviewContainer p.interview_desc {
    font-size: 18px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    color:#444;
  }
#searchContainer input[type=text] {
  border:0px !important;
  padding:8px 10px;
  vertical-align: middle;
  border:0px solid transparent !important;
  font-size: 20px !important;
}
.arrow{
  width:30px;
  cursor:pointer;
}
.hideBloc {
  display:none;
}
.noresult {
  min-height: 350px;
  padding-left:20px;
  padding-right:20px;
}
  .noresult h1 {
    padding-top: 100px;
  }

.interview {
  width:100%;
  overflow: hidden;
  border-bottom:1px solid rgba(21,145,72,.4);
  height:250px;
}
  .interview img.avatar {
    width:128px;
    border-radius:1000px;
    border:5px solid rgba(21,145,72,.4);
  }
.interviewQuestion {
  font-size:20px !important;
  color:black !important;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
}
.interview_content {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 65px;
}
#sortBloc {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color:white;
  font-weight: 600;
  margin-top:12px;
  text-align: right;
  padding-right:8px;
  cursor:pointer;
}
#sortBloc img {
  width:20px;
  vertical-align: middle;
  margin-left:5px;
}
.interviewDate {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color:#888;
  margin-bottom: 10px;
  display: inline-block;
}
img.socialIcon {
  width: 25px;
  margin-top: 15px;
}
img.socialIcon:hover {
  opacity:.6;
}
