input[type=text]:focus {
  outline:none;
}
#searchContainer {
  padding:15px;
  background: #159148;
}
#searchContainer #startSearchButton {
  padding: 11px;
  vertical-align: middle;
  display:inline-block;
  background:#07522b;
  color:white;
  text-transform: uppercase;
  font-weight: bold;
}
  #searchContainer #startSearchButton img {
    width:22px;
    height:22px;
  }
.interviewContainer {
  border:2px solid #159148;
}
#searchContainer input[type=text] {
  border:0px !important;
  padding:8px 10px;
  vertical-align: middle;
  border:0px solid transparent !important;
  font-size: 20px !important;
}
