


#presentation_container {
	background:#fafafa;
}

p.txt3 {
	font-family: 'Raleway', sans-serif !important;
	font-weight: 500;
	font-size: 17px;
	margin-top:25px;
	color:#555;
}
@media (min-width: 10px) and (max-width: 575px) {

	p.txt3 {
		font-size: 12px;
	}

}
