@media screen and (max-width: 1060px) {
  body.countDownActive #navbar_button_container {
    display: none;
  }
  body.countDownActive img.logotext {
    display: none;
  }
  body.countDownActive button.hamburger {
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  #navbar_button_container {
    display: none;
  }
  img.logotext {
   display: none;
  }
  button.hamburger {
    display: inline-block;
  }
  p.citation {
    font-size: 25px !important;
    font-weight: 400 !important;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 30px;
  }
  h5.dateConference {
    font-size: 16px;
  }
  h1.titreConference {
    font-size: 30px;
  }
  span.countDown_elem {
    font-size: 30px;
  }
  p.citation {
    font-size: 20px !important;
    font-weight: 600 !important;
    text-shadow: 0px 0px 10px white;
  }
  p.stat_icones {
    font-size: 35px
  }
  p.stat_txt {
    font-size: 13px;
  }
  p.txt3 {
		font-size: 14px;
	}
}
