#stat{
	background-color: white;
	color: black;
}

p.icones{
font-family: 'Open Sans', sans-serif !important;
font-size: 40px;
margin-top:15px;
margin-bottom:15px;
color: black;
font-weight: 100;
}

h1{
	color:#159148;
}
