<!Doctype html>
<html ng-app="TechInChartres">
  <head>
    <title>Tech In Chartres - Les interviews</title>
    <meta charset="UTF-8" />
		<script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-locale_fr-fr.min.js"></script>
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/app-interview.js"></script>
    <script type="text/javascript" src="js/jquery.countdown.js"></script>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet"/>
		<link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link rel="stylesheet" href="css/interviews.css" />
    <link rel="stylesheet" href="css/style.css" />
    <style type="text/css">
    #navbar {
      /*position: absolute;*/
    }
    #countDown_navbar {
      right:0px;
    }
    #navbar_button_container {
      margin-right:245px;
    }
    </style>
    <style footer-Css type="text/css"></style>
  </head>
  <body ng-controller="mainController as store">

    <navbar></navbar>

    <div class="container-fluid" style="margin-top:100px;">
      <div class="container">
        <center>
          <h1>Les interviews</h1>
          <hr/>
          <h2>Retrouvez ici les interviews des intervenants de TechInChartres</h2>
          <br/><br/>
        </center>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container"id="searchContainer">
        <div class="row">
          <div class="col-xs-12 col-sm-6">
            <input type="text" id="search_value" ng-model="search_value" placeholder="Mots clef" /><span id="startSearchButton"><img src="img/searchIcon.png" alt="Search" title="Rechercher"/></span>
          </div>
          <div class="col-xs-12 col-sm-3 col-sm-offset-3">
            <div id="sortBloc" class="desc" ng-click="triData()"><font>Les plus récents</font> <img src="img/arrow-down.png" /></div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="container interviewContainer">

        <div class="interview closeBloc" ng-show="searchEngine($index)" ng-repeat="interview in data.interviews">

          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-5 col-sm-2" style="padding:14px;">
                <center>
                  <img src="{{interview.picture}}" alt="" title="{{interview.title}}" class="avatar"/>
                  <span ng-repeat="(key, social) in interview.socials">
                    <a href="{{social}}" target="_blank" ng-show="$index==0 && social.length"><img src="img/interviewsocialfb.png" class="socialIcon"/></a>
                    <a href="{{social}}" target="_blank" ng-show="$index==1 && social.length"><img src="img/interviewsocialtw.png" class="socialIcon"/></a>
                    <a href="{{social}}" target="_blank" ng-show="$index==2 && social.length"><img src="img/interviewsociallk.png" class="socialIcon"/></a>
                  </span>
                </center>
              </div>
              <div class="col-xs-7 col-sm-10" style="padding-left:30px;">
                <table style="border-collapse:collapse;width:100%;">
                  <tr>
                    <td>
                      <h1>{{interview.title}}</h1>
                      <span class="interviewDate">Interview réalisé le {{interview.date | date}}</span>
                    </td>
                    <td style="text-align:right;">
                        <img src="img/arrow-up-green.png" alt="" class="arrow"/>
                    </td>
                  </tr>
                </table>
                <p class="interview_desc">{{interview.description}}</p><br/>
                <p class="interview_content" ng-bind-html="interview.content | unsafe"></p>
              </div>
            </div>
          </div>

        </div>
        <!--Bloc Aucun résultat-->
        <div class="noresult hideBloc">
          <center>
            <h1>Aucun résultat</h1>
            <h2>Si vous effectuez une recherche par mots-clés, vérifiez bien qu'il n'y a pas de faute de frappe. Essayez d'élargir votre recherche. </h2>
          </center>
        </div>

      </div>
    </div>

    <footer></footer>

  </body>
</html>
