<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet"> 
	<script src="https://use.fontawesome.com/ae88100185.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="container-fluid" id="contact"><!--bloc contact-->
		<div class="row"><br>
			<div class="col-md-4 col-md-offset-2 text-center">
				<br><br><br>
				<h1>Tech In Chartres</h1>

				<p>L'EURELIUM</p>
				<p>11 rue Cardinal Pie</p>
				<p>28000 Chartres</p>
			</div>

			<div class="col-md-4 text-center">

				<a href=https://www.google.com/maps/place/11+Rue+du+Cardinal+Pie,+28000+Chartres,+France/@48.4490534,1.4851634,17z/data=!3m1!4b1!4m5!3m4!1s0x47e40c47ffa41351:0x43d8360e7c8f72b2!8m2!3d48.4490534!4d1.4873521?hl=en title="Itinéraire" target="_blank"><img src="photo/plan.png"></a><br><br>			
			</div>			
		</div>
	</div><!--fin bloc contact-->

</body>
</html>