<div class="container-fluid" id="topContent">
  <div class="row">
    <div class="col-xs-12">
      <br/><br/><br/><br/><br/><br/><br/>
      <h5 class="dateConference"><span class="lineTitle"></span>rendez-vous le 29 septembre<span class="lineTitle"></span></h5>
      <h1 class="titreConference">L'acquisition de trafic internet</h1>
      <div id="countDown"></div>
      <center>
        <a class="btn btn-default btn-top" href="#" ng-click="store.connect()" role="button">Se connecter</a>
        <!--<a class="btn btn-default btn-top" href="#" role="button">Réserver une place</a>-->
        <a class="btn btn-default btn-top-more" href="#" role="button">En savoir plus</a>
      </center>
    </div>
  </div>

</div>
