<div class="container-fluid" id="topContent">
  <div class="row">
    <div class="col-xs-12">
      <div style="display:table;width:100%;" id="countDownDisplayTable">
      <!--<br/><br/><br/><br/><br/><br/><br/>-->
        <div style="display:table-cell;vertical-align:middle;">
          <h5 class="dateConference"><span class="lineTitle"></span>rendez-vous le 24 novembre<span class="lineTitle"></span></h5>
          <h1 class="titreConference">#12 "MAKERS"</h1>
          <div id="countDown"></div>
          <center>
            <a class="btn btn-default btn-top" href="#" onclick="javascript:redirectToMeetUp();" role="button">Se connecter</a>
            <!--<a class="btn btn-default btn-top" href="#" role="button">Réserver une place</a>-->
            <a class="btn btn-default btn-top-more" ng-click="gotoElement('presentation')" role="button">En savoir plus</a>
            <!--Fleche down-->
            <a href="#" ng-click="gotoElement('news')">
              <img src="img/arrow-down.png" id="arrowDownAnimate" />
            </a>

          </center>
        </div>
      </div>
    </div>
  </div>

</div>
