<div class="container-fluid" id="topContent">
  <div class="row">
    <div class="col-xs-12">
      <div style="display:table;width:100%;" id="countDownDisplayTable">
      <!--<br/><br/><br/><br/><br/><br/><br/>-->
        <div style="display:table-cell;vertical-align:middle;">
          <h5 class="dateConference"><span class="lineTitle"></span>rendez-vous le 27 octobre<span class="lineTitle"></span></h5>
          <h1 class="titreConference">#11 Spécial "MAKERS"</h1>
          <div id="countDown"></div>
          <center>
            <a class="btn btn-default btn-top" href="#" onclick="javascript:redirectToMeetUp();" role="button">Se connecter</a>
            <!--<a class="btn btn-default btn-top" href="#" role="button">Réserver une place</a>-->
            <a class="btn btn-default btn-top-more" ng-click="gotoElement('presentation')" role="button">En savoir plus</a>
            <img src="img/arrow-down.png" id="arrowDownAnimate" />
          </center>
        </div>
      </div>
    </div>
  </div>

</div>
