

	<div class="container">
		<div class="row">

			<h1> L'équipe </h1>

			<div class="col-xs-4" >

				<img src="img/loic.jpg" class="img-responsive img-circle" />
				<p class="equipe_name"> Loïc Boutet </p>
				<p>Président Hexagonal Consulting, passionné de techno</p>


			</div>

			<div class="col-xs-4">

<!--http://photos3.meetupstatic.com/photos/member/b/6/1/4/highres_250666612.jpeg-->
				<img src="img/nadege160.jpg"class="img-responsive img-circle"/>
				<p class="equipe_name"> Nadège </p>
				<p>Assistante organisateur du groupe </p>

			</div>	

			<div class="col-xs-4">

				<img src="img/max.jpg" class="img-responsive img-circle"/>
				<p class="equipe_name"> Maxime Cornuau </p>
				<p class="fonction">Chief digital officer - Conseil départemental d'Eure&Loir</p>

			</div>	


		</div>
	</div>

