<div class="container-fluid">
	<div class="container">
		<div class="row row-footer">
			<div class="col-xs-4">
				<p class="footer_left text-left"></p>
				<a href="https://twitter.com/TechInChartres" target="_blank"><img src="img/twitter.png" class="footer_twitter"></a>

				<a href="https://www.facebook.com/techinchartres/?fref=ts" target="_blank"><img src="img/facebook.png" class="footer_facebook"></a>
			</div>

			<div class="col-xs-4">
				<center>
					<p id="copyright">Copyright 2016</p>					
				</center>
			</div>

			<div class="col-xs-4">
				<p class="footer_right"></p>
				<a href="http://www.wildcodeschool.fr/" target="_blank"><img src="img/logowcs.jpg" class="footer_wcs"/></a>
				<p>Réaliser par les élèves de la Wild Code School</p>			
			</div>
		</div>
	</div>
</div>
