<div class="container-fluid">
	<div class="container">
		<div class="row row-footer">
		<div id="col-xs-12">

			<a class="logo-footer" href="https://www.facebook.com/techinchartres"><img src="img/facebook.png"></a>
			<a class="logo-footer" href="https://twitter.com/TechInChartres"><img src="img/twitter.png"></a>

<!-- Modale debut mention legal -->
<!-- Button trigger modal -->
<div class="row-footer">
	<div id="col-xs-12">
<button type="button-modal" class="btn-footer" data-toggle="modal" data-target="#myModal">
Mention L'egal
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Mention l'égal</h4>
			</div>
		<div class="modal-body">
			TEXTE TROP BIEN LA MODAL
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="button" class="btn btn-primary">Save changes</button>

		</div>
		</div>
	</div>
</div>
</div>
</div>
		</div>
	</div>
</div>
