
<div class="container-fluid" id="footer">

	<div class="container">
		<div class="row row-footer">

			<div class="col-xs-4">
				<p class="footer_left"></p>
				<a href="https://twitter.com/TechInChartres" target="_blank" style="margin-left: 161px"><img src="img/twitter.png" class="footer_twitter"></a>
				<a href="https://www.facebook.com/techinchartres/?fref=ts" target="_blank"><img src="img/facebook.png" class="footer_facebook"></a>
			</div>
			<div class="col-xs-4">
				<p id="copyright" style="margin-left: 119px;">© Copyright 2016</p>
			</div>

			<div class="col-xs-4">
					<a href="http://www.wildcodeschool.fr/" target="_blank" style="padding-left: 48px"><img src="img/logowcs.jpg" class="footer_wcs"/>Developpé par la Wild Code School</a>
			</div>
		</div>
	</div>
</div>
