


		<!-- VIDEO DEBUT ONE PAGE -->
<div class="container">
	<div class="row">
		<br/><br/>
		<h1>Vidéo conférences</h1>
		<hr/>
		<h2>Revivez les meilleurs moments.</h2>

		<br/><br/>
		<div class="video">
			<iframe src="https://player.vimeo.com/video/156617042" width="100%" height="420" style="max-width:800px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
			</iframe>
		</div>
		<center>
			<br/><br/>
			<a class="btn-top-video" href="gallerie.html">Revoir tous les meetUp</a>
			<br/><br/>
		</center>
	</div>
</div>

		<!-- VIDEO FIN ONE PAGE -->
