


		<!-- VIDEO DEBUT ONE PAGE -->
		<h2>Video conférences</h2>
		<div class="video">
			<iframe src="https://player.vimeo.com/video/156617042" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
			</iframe>
		</div>



		<center>
			<p>Texte de présentation de la video ( changer la police et taille du text ?)</p>
			<a class="btn btn-default btn-top" href="gallerie.html" role="button">Revoir tout les meetUp</a>
		</center>

		<!-- VIDEO FIN ONE PAGE -->

