<div class="container-fluid" id="intervenant">
	<div class="container">

		<div class="row">
			<div class="col-xs-12" id="titre">
					<br/><br/>
					<h1>Les Intervenants</h1>
					<hr/>
					<h2 class="subTitle">Venez les rencontrer</h2>
					<br/><br/>
			</div>
		</div>

		<div class="row" id="picture">

				<div class="col-xs-12 col-sm-4">
					<div class="card">
						<img class="card-img-top" src="img/Colin.jpg" alt="Card image cap" style="width: 100%;">

						<h4 class="card-title">François<br/>Painblanc</h4>
						<p class="card-text">Le fondateur de l'agence Cerebrum Search, est un des pionniers du SEO Professsionnel en France, avec une carrière commencée il y a déjà 15 ans à l’heure où l’internet c’était Altavista et le modem… </p>

					</div>
				</div>

				<div class="col-xs-12 col-sm-4">
					<div class="card">
						<img class="card-img-top" src="img/Colin.jpg" alt="Card image cap" style="width: 100%;" id="">

						<h4 class="card-title">Colin<br/>Bléchet</h4>
						<p class="card-text">Le fondateur de l'agence Cerebrum Search, est un des pionniers du SEO Professsionnel en France, avec une carrière commencée il y a déjà 15 ans à l’heure où l’internet c’était Altavista et le modem… </p>

					</div>
				</div>

				<div class="col-xs-12 col-sm-4">
					<div class="card">
						<img class="card-img-top" src="img/Colin.jpg" alt="Card image cap" style="width: 100%">
						<h4 class="card-title">Stéphanie<br/>Soucheyre</h4>
						<p class="card-text">Le fondateur de l'agence Cerebrum Search, est un des pionniers du SEO Professsionnel en France, avec une carrière commencée il y a déjà 15 ans à l’heure où l’internet c’était Altavista et le modem… </p>

					</div>
				</div>
			</div>

			<!-- Bouton interview debut -->
			<div class="container">
				<div class="row">
					<center>
							<a class="btn btn-default-interviews" href="interviews.html" role="button">Voir les interviews</a>
					</center>
				</div>
			</div>

	</div>
</div>
