

<div Class="container-fluid" id="intervenant">	
	<div Class="container" >
		<div class="row">
		<div class="col-xs-12" id="titre">
				<h1>Les Intervenants</h1><br>
				<h2 class="subTitle">Here, there and everywhere... what we've been doing</h2>
			</div>
		</div>
		<div class="row">

			<div Class="row" id="picture">

				<div class="col-xs-4">
					<div class="card text-center">
						<img class="card-img-top" src="img/Nikita.jpg" alt="Card image cap" style="width: 100%">

						<h4>Nikita</h4>
						<p class="card-text">Développeur</p>

					</div>
				</div>

				<div class="col-xs-4">
					<div class="card text-center">
						<img class="card-img-top" src="img/Colin.jpg" alt="Card image cap" style="width: 100%" id="">

						<h4>Colin</h4>
						<p class="card-text">Développeur</p>

					</div>
				</div>

				<div class="col-xs-4">
					<div class="card text-center">
						<img class="card-img-top" src="img/Kevin.jpg" alt="Card image cap" style="width: 100%">

						<h4>Kévin</h4>
						<p class="card-text">Développeur</p>

					</div>
				</div>			
			</div>
		</div>
	</div>


