
<div id="navbar">
  <div class="navbar_container">
    <img src="img/logo.png" class="logo" /><img src="img/logotext.png" alt="" class="logotext"/>
    <div id="countDown_navbar"></div>
    <div id="navbar_button_container">
      <a href="#" class="topLinks">Présentation</a>
      <a href="#" class="topLinks">Actualités</a>
      <a href="#" class="topLinks">Les intervenants</a>
      <a href="#" class="topLinks">L'équipe</a>
      <a href="#" class="topLinks">Vidéos</a>
    </div>
  </div>
</div>
