
<div id="navbar">
  <div class="navbar_container">
    <img src="img/logo.png" class="logo" /><img src="img/logotext.png" alt="" class="logotext"/>
    <div id="countDown_navbar"></div>
    <div id="navbar_button_container">
      <a href="#" ng-click="scrollTo('presentation')" class="topLinks">Présentation</a>
      <a href="#" ng-click="scrollTo('news')" class="topLinks">Actualités</a>
      <a href="#" ng-click="scrollTo('intervenant')" class="topLinks">Les intervenants</a>
      <a href="#" ng-click="scrollTo('equipe')" class="topLinks">L'équipe</a>
      <a href="#" ng-click="scrollTo('videos')" class="topLinks">Vidéos</a>
    </div>
  </div>
</div>
