
<div id="navbar">
  <div class="navbar_container">
    <a href="/#" ng-click="gotoElement('navbar')"><img src="img/logo.png" class="logo" /><img src="img/logotext.png" alt="" class="logotext"/></a>
    <div id="countDown_navbar"></div>
    <div id="navbar_button_container">
      <a href="/#presentation" ng-click="gotoElement('news')" class="topLinks activeLink">Actualités</a>
      <a href="/#news" ng-click="gotoElement('intervenant')" class="topLinks">Les intervenants</a>
      <a href="/#intervenant" ng-click="gotoElement('equipe')" class="topLinks">L'équipe</a>
      <a href="/#equipe" ng-click="gotoElement('videos')" class="topLinks">Vidéos</a>
      <a href="/#videos" ng-click="gotoElement('presentation')" class="topLinks">Présentation</a>
    </div>
  </div>
</div>
