<div class="container" ng-controller="SlideController as newsStore">
		<div class="col-xs-12">
		<div id="hero-wrapper">
		    <div class="carousel-wrapper">
		      <div id="hero-carousel" class="carousel slide carousel-fade">
		        <ol class="carousel-indicators">
		          <li data-target="#hero-carousel" data-slide-to="0" class="active"></li>
		          <li data-target="#hero-carousel" data-slide-to="1"></li>
		        </ol>
		        <div class="carousel-inner" >
		          <div class="item" style="width: 100%; height: 300px" ng-repeat="tab in newsStore.news" ng-class='{active:$first}'>
		            <h1>{{tab.name}}</h1>
		            <h4>{{tab.titre}}</h4>
								<p>{{tab.text}}</p>

		          </div>

		        </div>
		        <a class="left carousel-control" href="#hero-carousel" data-slide="prev" style="background-image: none"></i>>
		          <i class="fa fa-chevron-left left"></i>
		        </a>
		        <a class="right carousel-control" href="#hero-carousel" data-slide="next" style="background-image: none"></i>>
		          <i class="fa fa-chevron-right right"></i>
		        </a>
		      </div>
		    </div>
		  </div>
		</div>
		</div>
<script>
$('.carousel').carousel({
interval: 3000,
pause: false
})
</script>
