	<div class="container-fluid" id="news"><!--bloc NEWS-->
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-center">


				<h1>Tech In Chartres #11</h1><br><!--meetup a venir-->

				<h4>Spécial "MAKERS"</h4>

				<p align="justify" class="descriptif">Pour tous les curieux, passionnés, pro et amateurs de l'univers des Makers... ce meet-up tombe à point !Nous vous précisons très vite le programme.Nous pouvons déjà vous annoncer que BetaMachine, le Hackerspace de Chartres, sera parmi nos speakers :)</p>
					
				</div>

				<div class="col-md-4 col-md-offset-2 text-center">

				<h1>Tech In Chartres #12</h1><!--meetup a venir-->

					<p align="justify" class="descriptif">Les Tech in Chartres c'est tout les derniers jeudi du mois ! 

						Comme d'habitude venez nombreux et parlez en autour de vous. C'est VOTRE meet-up et c'est vous qui pouvez faire vivre "Tech in Chartres" ! </p>
						
					</div>
				</div>
				
			</div>
		</div>