	<div class="container-fluid" id="news"><!--bloc NEWS-->
		<div class="row">
			<div class="col-md-4 col-md-offset-1 text-center">


				<h1>Tech In Chartres #11</h1><!--meetup a venir-->

				<p align="justify" class="descriptif">Tech In Chartres est le meet-up de tous les passionnés de web, de mobile, d'impression 3D, d'objets connectés, de réalité augmentée et d'innovation de manière générale. Que vous soyez développeur, designer, entrepreneur ou simple curieux ce meet-up est fait pour vous. Tous les derniers jeudis du mois, nous rassemblons les forces vives technologiques d'Eure et Loir afin de les faire échanger, de s'informer et de tout simplement se rencontrer. Hashtag : #techinchartres</p>
				
			</div>

			<div class="col-md-4 col-md-offset-2 text-center"><!--bloc sponsor-->


				<h1>Sponsor</h1>

				<a href="http://www.soregor.fr/" target="_blank"><img src="img/soregor.jpg"></a><br><br>
			</div>
			
		</div>
	</div>