

	<!--nav bar + header-->



	<!-- presentation début -->
<div class="container-fluid" id="presentation_container">
	<div class="container">
		<div class="row">

			<div class="col-xs-12">
				<br/><br/>
				<h1>À propos</h1>
				<h2>Les Tech in Chartres c'est tous les derniers jeudi du mois !</h2>
				<hr/>
				<p class="txt3">
					Tech In Chartres est le meet-up de tous les passionnés de web, de mobile, d'impression 3D, d'objets connectés, de réalité augmentée et d'innovation de manière générale.
				</p>
				<p class="txt3" >
					Que vous soyez développeur, designer, entrepreneur ou simple curieux ce meet-up est fait pour vous. Tous les derniers jeudis du mois, nous rassemblons les forces vives technologiques d'Eure et Loir afin de les faire échanger, de s'informer et de tout simplement se rencontrer. Hashtag : #techinchartres
					<br/><br/>
				</p>
			</div>

			<div class="col-xs-12" >
				<h2>Ils soutiennent TechInChartres, voici nos sponsors</h2>
				<hr/>
			</div>

		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-xs-12" style="padding-bottom:30px;">
				<img src="img/soregor.png" alt="Soregor" title="Soregor" class="img-responsive" style="max-width:300px;"/>
			</div>
		</div>
	</div>
</div>

		<!-- presentation fin -->

		<!-- news + sponsor -->

		<!-- intervenants debut -->


	<!-- intervenants fin -->

	<!-- chiffre actualité-->

	<!-- equipe début -->




	<!-- equipe fin-->
	<!-- gallery -->
	<!--contact-->
