

	<!--nav bar + header-->



	<!-- presentation début -->
	<div class="container">
		<div class="row">

			<h1> A propos  </h1>

			<div class="col-md-4 col-xs-12">

				<img src="img/logo.jpg" class="img-responsive"/ >

				

			</div>	

			<div class="col-md-8 col-xs-12" >

				<p class="txt3">Tech In Chartres est le meet-up de tous les passionnés de web, de mobile, d'impression 3D, d'objets connectés, de réalité augmentée et d'innovation de manière générale. Que vous soyez développeur, designer, entrepreneur ou simple curieux ce meet-up est fait pour vous. Tous les derniers jeudis du mois, nous rassemblons les forces vives technologiques d'Eure et Loir afin de les faire échanger, de s'informer et de tout simplement se rencontrer. Hashtag : #techinchartres </p>



			</div>

		<!-- presentation fin -->

		<!-- news + sponsor -->

		<!-- intervenants debut -->

	
	<!-- intervenants fin -->

	<!-- chiffre actualité-->

	<!-- equipe début -->


	

	<!-- equipe fin-->
	<!-- gallery -->
	<!--contact-->

