	<div class="container text-center" id="stat"><!--bloc icones stat-->
		<div class="row"><br>

			<div class="col-xs-4">
				<img src="img/group.svg" width="50" height="50"><!--icone participants-->
				<p class="icones">150</p>
				<p class="stat_txt">Participants</p>
			</div>

			<div class="col-xs-4">
				<img src="img/intervenant.svg" width="50" height="50"><!--icone intervenants-->
				<p class="icones">10</p>
				<p class="stat_txt">Intervenants</p>
			</div>

			<div class="col-xs-4">
				<img src="img/notebook.svg" width="50" height="50"><!--icone sujets traités-->
				<p class="icones">15</p>
				<p class="stat_txt">Sujets traités</p>
			</div>
		</div>
	</div>
