<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:600" rel="stylesheet"> 
	<script src="https://use.fontawesome.com/ae88100185.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div class="container-fluid text-center" id="stat"><!--bloc icones stat-->
		<div class="row"><br>

			<div class="col-md-4" id="icone">
				<img src="img/group.svg" width="50" height="50"><!--icone participants-->
				<p style="color: black">150</p>
				<p>Participants</p>
			</div>

			<div class="col-md-4">     
				<img src="img/intervenant.svg" width="50" height="50"><!--icone intervenants-->
				<p style="color: black">10</p>
				<p>Intervenants</p>
			</div>	

			<div class="col-md-4">     
				<img src="img/notebook.svg" width="50" height="50"><!--icone sujets traités-->
				<p style="color: black">15</p>
				<p>Sujets traités</p>
			</div>
		</div>
	</div>
	
</body>
</html>